@model PlotCreator.Domain.ViewModels.EventViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "_Layout";
}
<style>
    .cont-cont{
        padding: 5px 10px;
        width: auto;
        background-color: white;
    }
    p{
        margin-right: 3px;
        color: #3a4675d4;
    }
    .circle{
        background-color: @Model.Colour;
        width:25px;
        height:25px;
        border-radius:50%;
    }

</style>

<div style="padding: 10px;"></div>
    <div class="cont-cont">
        <div class=" right" style="text-align: right; margin-bottom:10px;">
        <a asp-controller="Events" asp-action="Save" asp-route-id="@Model.Id" asp-route-bookId="@Model.Book!.Id" style="color:#3a4675d4;">Изменить</a>
        <a asp-controller="Events" asp-action="Delete" asp-route-id="@Model.Id" style="color:red; margin-left:10px;">Удалить</a>
    </div>
    <p>@Model.Title</p>
    <p>@Model.Description</p>
    <p>@Model.Beginning</p>
    <p>@Model.Ending</p>
    <div class="circle"></div>
    </div>
