@model PlotCreator.Domain.ViewModels.EventViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "_Layout";
}

<div style="padding: 10px;"></div>
    <div class="cont-cont">
        <div class=" right" style="text-align: right; margin-bottom:10px;">
        <a class="btn btn-success" asp-controller="Events" asp-action="Save" asp-route-id="@Model.Id" asp-route-bookId="@Model.Book!.Id">Изменить</a>
        <a class="btn btn-danger" asp-controller="Events" asp-action="Delete" asp-route-id="@Model.Id" style="margin-left:10px;">Удалить</a>
    </div>
    <div class="d-flex">
        <h2>@Model.Title </h2>
        @*<div class="circle" style="background-color:@Model.Colour"></div>*@
    </div >
    <hr class="dropdown-divider w-100 mb-3">
    <div class="">
        <p class="fs-5">Начало: <strong class="text-extra-dark">@Model.Beginning.ToString("F")</strong></p>
        <p class="fs-5">Конец: <strong class="text-extra-dark">@Model.Ending.ToString("F")</strong></p>
    </div>
    <hr class="dropdown-divider w-100 mb-3">
    <p class="fs-3">@Model.Description</p>
    
</div>
