@model PlotCreator.Domain.ViewModels.EventViewModel

@{
    var textTitle = Model?.Id == 0 ? "Добавление события" : "Редактирование события";
    ViewBag.Title = textTitle;
    Layout = "_Layout";
}

<div style="padding: 10px;"></div>
<div class="col-md-12 d-flex justify-content-center">
    <div class="card-body">
        <div class="card card-outline-secondary" style="background-color: white">
            <div class="card-body body-frame">
                <h3 class="mb-0 text-center ParagraphHome">@textTitle</h3>
                <form asp-action="Save" enctype="multipart/form-data">
                    <input asp-for="Id" type="text" value="@Model?.Id" hidden />
                    <input asp-for="Book!.Id" type="text" value="@Model?.Book!.Id" hidden />
                    <input asp-for="Book!.User!.Id" type="text" value="@Model?.Book!.User!.Id" hidden />
                    <div asp-validation-summary="All" style="font-size:23px; font-family:Impact, serif" class="text-danger text-center"></div>

                    <div class="form-group mb-3">
                        <label asp-for="Title">Название</label>
                        <input asp-for="Title" class="form-control" type="text" value="@Model?.Title" required>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Description">Содержание</label>
                        <textarea asp-for="Description" class="form-control" rows="10" required>@Model?.Description</textarea>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Beginning">Начало события</label>
                        <input asp-for="Beginning" class="form-control" type="datetime-local" value="@Model?.Beginning.ToString("yyyy-MM-ddThh:mm")" required>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Ending">Конец события (Не обязательно)</label>
                        <input asp-for="Ending" class="form-control" type="datetime-local" value="@Model?.Ending.ToString("yyyy-MM-ddThh:mm")">
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="ChekhovsGun">Чеховское ружье</label>
                        <input asp-for="ChekhovsGun" class="form-check-input" type="checkbox">
                    </div>
                    
                    <div class="form-group mb-3">
                        <label asp-for="IsHidden">Событие для автора</label>
                        <input asp-for="IsHidden" class="form-check-input" type="checkbox">
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Colour">Цвет события</label>
                        <input asp-for="Colour"  type="color" class="form-control form-control-color" value="@Model?.Colour" title="Choose your color">
                    </div>
                       @if (Model.Groups.Any())
                       {
                            <div class="form-group mb-3">
                                <label>Принадлежность события к группам: </label>
                            </div>
                       }
                        <div class="container d-flex jus flex-wrap">
                            @foreach (var group in Model!.Groups!)
                            {
                                <div class="form-check m-3">
                                    @if (Model.OwnGroups != null)
                                    {
                                        @if (Model.OwnGroups.Select(x => x.GroupId).Contains(group.Id))
                                        {
                                            <input class="form-check-input" type="checkbox" value="@group.Id" checked name="checkedGroups" id="@group.Id Group">
                                            <label class="form-check-label" for="@group.Id Group">
                                                @group.Name
                                            </label>
                                        }
                                        else
                                        {
                                            <input class="form-check-input" type="checkbox" value="@group.Id" name="checkedGroups" id="@group.Id Group">
                                            <label class="form-check-label" for="@group.Id Group">
                                                @group.Name
                                            </label>
                                        }
                                    }
                                    else
                                    {
                                        <input class="form-check-input" type="checkbox" value="@group.Id" name="checkedGroups" id="@group.Id Group">
                                        <label class="form-check-label" for="@group.Id Group">
                                            @group.Name
                                        </label>
                                    }
                                </div>
                            }
                        </div>
                     <div class="w-100 d-flex justify-content-center">
                        <button class="btn btn-success" type="submit">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>