@model List<PlotCreator.Domain.ViewModels.CharacterViewModel>

@{
	ViewData["title"] = "Мои персонажи";
}


<h1>Мои персонажи</h1>
<div style="padding: 10px;"></div>
<div style="width: max-content;padding:2px 4px;  background-color:forestgreen; border-radius: 4px;">
	<a style="text-decoration:none;color:white;" asp-area="" asp-action="Save" asp-route-id="0" asp-route-bookId="0" asp-route-userId="@User.FindFirst("userId").Value">Добавить Персонажа</a>
</div>
<hr class="dropdown-divider w-100 mb-3">
<div class="container d-flex justify-content-around flex-wrap">
	@if (!Model.Any())
	{
			<h2 class="text-info">Персонажей не найдено!</h2>
	}
	@foreach (var character in Model)
	{
			<div class="card" style="width: 18rem;">
				<img src="@character.Picture" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">@character.Name</h5>
					<p class="card-text">Пол: @character.Gender</p>
					<p class="card-text">Рост: @character.Height</p>
					<p class="card-text">Вес: @character.Weight</p>
					<p class="card-text">Характер: @character.Personality</p>
					<a class="btn btn-dark" asp-controller="Characters" asp-action="GetCharacter" asp-route-id="@character.Id">Подробнее</a>
				</div>
			</div>
	}
</div>