@model List<PlotCreator.Domain.ViewModels.CharacterViewModel>

@{
	ViewData["title"] = "Мои персонажи";
}


<h1>Персонажи</h1>
<div style="padding: 10px;"></div>
<div class="dropdown">
	<button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" >
		Добавить персонажа
	</button>
	<ul class="dropdown-menu">
		<li><a class="dropdown-item" asp-controller="Characters" asp-action="Save" asp-route-id="0" asp-route-bookId="@ViewData["bookId"]" asp-route-userId="@User.FindFirst("userId")!.Value">Создать нового</a></li>
		<li><a class="dropdown-item" asp-controller="Characters" asp-action="AddCharacterToBook" asp-route-userId="@User.FindFirst("userId")!.Value" asp-route-bookId=@ViewData["bookId"]>Добавить существующего</a></li>
		@*<li><button class="dropdown-item" type="button" id="GetCharacters">Получить всех персонажей</button></li>*@
	</ul>
	@if (Model.Any())
	{
		<a class="btn btn-danger" asp-controller="Characters" asp-action="DeleteCharacterFromBook" asp-route-bookId="@ViewData["bookId"]" asp-route-userId="@User.FindFirst("userId")!.Value">Удалить персонажа</a>
	}
</div>
<hr class="dropdown-divider w-100 mb-3">
<div class="container d-flex justify-content-around flex-wrap">
	@if (!Model.Any())
	{
		<h2 class="text-info">Персонажей не найдено!</h2>
	}
	@foreach (var character in Model)
	{
		<div class="card" style="width: 18rem;">
		<img src="@character.Picture" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">@character.Name</h5>
				<p class="card-text">Пол: @character.Gender</p>
				<p class="card-text">Рост: @character.Height</p>
				<p class="card-text">Вес: @character.Weight</p>
				<p class="card-text">Характер: @character.Personality</p>
				<p class="card-text">Мировоззрение: @character.Worldview.Name</p>
				<a class="btn btn-dark" asp-controller="Characters" asp-action="GetCharacter" asp-route-id="@character.Id" asp-route-bookId="@ViewData["bookId"]">Подробнее</a>
			</div>
		</div>
	}
</div>

@section Scripts{

	<script src="~/js/Characters/character.js"></script>
}