@model List<PlotCreator.Domain.ViewModels.CharacterViewModel>

@{
	ViewData["title"] = "Мои персонажи";
}


<h1>Персонажи</h1>
<div style="padding: 10px;"></div>
<div class="container d-flex justify-content-around flex-wrap">
	@if (!Model.Any())
	{
				<h2 class="text-info">Персонажей не найдено!</h2>
	}
	@foreach (var character in Model)
	{
				<div class="card" style="width: 18rem;">
				<img src="@character.Picture" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">@character.Name</h5>
						<p class="card-text">Пол: @character.Gender</p>
						<p class="card-text">Рост: @character.Height</p>
						<p class="card-text">Вес: @character.Weight</p>
						<p class="card-text">Характер: @character.Personality</p>
						<a class="btn btn-dark" asp-controller="Characters" asp-action="GetCharacter" asp-route-id="@character.Id">Подробнее</a>
					</div>
				</div>
	}
</div>