@model List<PlotCreator.Domain.ViewModels.IdeaViewModel>

@{
    ViewBag.Title = "Мои идеи";
    Layout = "_Layout";
}

<h1>Идеи</h1>
<div style="padding: 10px;"></div>
<div class="dropdown">
	<button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown">
		Добавить идею
	</button>
	<ul class="dropdown-menu">
		<li><a class="dropdown-item" asp-controller="Ideas" asp-action="Save" asp-route-id="0" asp-route-bookId="@ViewData["bookId"]" asp-route-userId="@User.FindFirst("userId")!.Value">Создать новую</a></li>
		<li><a class="dropdown-item" asp-controller="Ideas" asp-action="AddIdeasToBook" asp-route-userId="@User.FindFirst("userId")!.Value" asp-route-bookId=@ViewData["bookId"]>Добавить Существующую</a></li>
		@*<li><button class="dropdown-item" type="button" id="GetCharacters">Получить всех персонажей</button></li>*@
	</ul>
	@if (Model.Any())
	{
		<a class="btn btn-danger" asp-controller="Ideas" asp-action="DeleteIdeasFromBook" asp-route-bookId="@ViewData["bookId"]" asp-route-userId="@User.FindFirst("userId")!.Value">Удалить идею</a>
	}
</div>
<hr class="dropdown-divider w-100 mb-3">
<div class="container d-flex flex-column">
	@if (!Model.Any())
	{
		<h2 class="text-info">Идей не найдено!</h2>
	}
	@foreach (var idea in Model)
	{
        <a class="SceneContainer" asp-controller="Ideas" asp-action="MyIdea" asp-route-id="@idea.Id">
			<div class="listPointer"></div>
            <h4>@idea.Topic</h4>
        </a>
	}
</div>