<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PlotCreator</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="icon" href="~/images/default/icon/bookIcon.svg" type="image/svg" />

    @*Шрифты*@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
    @RenderSection("Styles", false)
</head>
<body class="page">
    <div class="page__background"></div>
    <div class="page__wrapper">
        <header class="header page__header">
            <div class="header__row container">
                <!-- <img src="" alt="" class="logo"> -->
                <a class="logo" asp-area="" asp-controller="Home" asp-action="Index">PlotCreator</a>
                <nav class="menu header__menu">
                    <ul class="menu__list">
                        @if (User.Identity!.IsAuthenticated)
                        {
                            <li>
                                <a  class="menu__link" aria-current="page" asp-controller="Ideas" asp-action="MyIdeas"
                                asp-route-userId="@User.FindFirst("userId")!.Value">Мои идеи</a>
                            </li>
                            <li>
                                <a  class="menu__link" aria-current="page" asp-controller="Books" asp-action="MyBooks"
                                asp-route-userId="@User.FindFirst("userId")!.Value">Мои книги</a>
                            </li>
                            <li>
                                <a  class="menu__link" aria-current="page" asp-controller="Characters" asp-action="GetAllCharacters"
                                asp-route-userId="@User.FindFirst("userId")!.Value">Мои персонажи</a>
                            </li>
                        }
                    </ul>
                </nav>
                <div class="header__profile">
                    <ul class="menu__list">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a class="menu__link" asp-controller="Account" asp-action="Login">Войти</a>
                            </li>
                             <li>
                                <a class="menu__link" asp-controller="Account" asp-action="Register">Регистрация</a>
                            </li>
                        }

                        @*<li><hr class="dropdown-divider"></li>*@

                        @if (User.Identity.IsAuthenticated)
                        {
                           @* @if (User.IsInRole("Admin"))
                            {
                                <a class="nav-link active" href="#">Админ панель</a>
                            }*@
                            <li>
                                <a href="#" class="menu__link" active">@User.FindFirst("login")!.Value</a>
                            </li>
                            <li>
                                <form method="post" asp-controller="Account" asp-action="Logout">
                                    <label for="logout" class="menu__link">Выход</label>
                                    <input type="submit" value="Выход" id="logout" style="visibility:hidden;" />
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </header>
        
        <main role="main" class="main page__main">
            @RenderBody()
        </main>

        <footer class="footer page__footer">
            @*<div class="d-flex flex-column align-items-center">
                &copy; 2023 - PlotCreator
            </div>*@
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
